<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/books.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap"
    />
  </head>
  <body>
    <!-- Header -->
    <%- include('blocks/header.ejs') %>
      <!-- Booк -->
      <h1>Book</h1>
      <div id = "book"></div>
    <!-- Footer -->
    <%- include('blocks/footer.ejs') %>

    <script src="/bookItem.js"></script>
  </body>
</html>
