<header>
    <div class="container">
        <h1 class="header">Library</h1>
        <nav>
            <div>
            <a href="/"><img src="/images/logo.png"></a>
            </div>
            <div class="list">
                <a href="/">Home</a>
                <a href="/books">Books</a>
                <a href="/contact">Me</a>
            </div>
            
        </nav>
    </div>
</header>
